.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:any-link {
  text-decoration: none;
  margin: 0px;
}

.HomePage {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-right: 25%;
  
}

.SectionHome {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(170, 169, 169);
}

.SectionHome img {
  display: block;
  width: 100%;
}

.Beers {
  margin-left: 31.5%;
  margin-right: 31.5%;

}

.beerBox {
  display: flex;
  flex-direction: row;
  border: 1px solid rgb(170, 169, 169);
}

.imgBeer {
  flex: 30%;
}

.imgBeer img {
  display: block;
  height: 6em;
  margin-left: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.infoBeer {
  flex: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

.SingleBeer {
  margin-left: 25%;
  margin-right: 25%;
  
}

.SingleBeer img {
  display: block;
  height: 10em;
  margin-left: auto;
  margin-right: auto;
}

.RandomBeer {

  margin-left: 25%;
  margin-right: 25%;
  
}

.RandomBeer img {
  display: block;
  height: 10em;
  margin-left: auto;
  margin-right: auto;
}

.formNewBeer {
  display: flex;
  flex-direction: column;
  margin-left: 31.5%;
  margin-right: 31.5%;

}

.formNewBeer label {
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  padding-left: 1em;
  text-align: left;
  width: 60%;
  font-weight: bold;
}

.formNewBeer input {
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  padding-left: 1em;
  text-align: left;
  width: 60%;
  margin-bottom: 1.5em;
  border: 1px solid rgb(230, 232, 220);
  border-radius: 8px;
  /* height: 2em; */
}

.description {
  height: 6em;
}

.formNewBeer button {
  margin-left: auto;
  margin-right: auto;
  width: 61%;
  background-color: #3DC4FC;
  border: 1px solid #3DC4FC;
  border-radius: 8px;
  color: white;
}



